@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;500&display=swap");

.container {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 60px;
  justify-content: center;
  align-items: center;
  height: 80vh;
  max-height: 75vh;
  background-color: #58cdd1;
  border-radius: 50px;
  font-family: 'Baloo Paaji 2', cursive;
}

.card {
  background-color: #222831;
  height: 20rem;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.7);
  color: white;

}

.card__name {
  margin-top: 10px;
  font-size: 1.5em;
}

.card__image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 5px solid #272133;
  margin-top: 20px;
  box-shadow: 0 10px 50px rgba(235, 25, 110, 1);
}

#vendors {
    background-color: #222831;
    margin-top: 20px;
}
.draw-border {
  box-shadow: inset 0 0 0 4px #58cdd1;
  color: #58afd1;
  -webkit-transition: color 0.25s 0.0833333333s;
  transition: color 0.25s 0.0833333333s;
  position: relative;
  border-radius: 10px;
}

.draw-border::before,
.draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: '';
  pointer-events: none;
  position: absolute;
  width: 0rem;
  height: 0;
  bottom: 0;
  right: 0;
  border-radius: 10px;
}

.draw-border::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
  border-radius: 10px;
}

.draw-border::after {
  border-top-width: 4px;
  border-radius: 10px;
  border-right-width: 4px;
}

.draw-border:hover {
  color: #ffe593;
  border-radius: 10px;
}

.draw-border:hover::before,
.draw-border:hover::after {
  border-color: #eb196e;
  border-radius: 10px;
  -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}

.draw-border:hover::before {
    border-radius: 10px;
  -webkit-transition-delay: 0s, 0s, 0.25s;
  transition-delay: 0s, 0s, 0.25s;
}

.draw-border:hover::after {
    border-radius: 10px;
  -webkit-transition-delay: 0s, 0.25s, 0s;
  transition-delay: 0s, 0.25s, 0s;
}

.btn {
  background: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.2rem 'Roboto Slab', sans-serif;
  padding: 0.75em 3em;
  letter-spacing: 0.05rem;
  margin: 0.5em;
  width: 13rem;
}

.btn:focus {
  outline: 2px dotted #55d7dc;
  border-radius: 10px;
}






.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  font-size: 1.2em;
}


* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

#vendors h2{
    font-family: 'Bungee', sans-serif;
    margin: 0px;
    padding-top: 10px;
}
nav {
	background: #58cdd1;
	height: 80px;
	width: 100%;
}
label.logo {
	color: white;
	font-size: 35px;
	line-height: 80px;
	padding: 0 100px;
	font-weight: bold;
    font-family: 'Bungee', sans-serif;

}
nav ul {
	float: right;
	margin-right: 20px;
}
nav ul li {
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
}
nav ul li a {
	color: white;
	font-size: 17px;
	padding: 7px 13px;
	border-radius: 3px;
	text-transform: uppercase;
}
a.active, a:hover {
	background: #045175;
	transition: .5s;
}
.checkbtn {
	font-size: 30px;
	color: white;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}
#check {
	display: none;
}
@media (max-width: 952px){
	label.logo{
		font-size: 30px;
		padding-left: 50px;
	}
	nav ul li a{
		font-size: 16px;
	}
}
@media (max-width: 858px){
	.checkbtn {
		display: block;
	}
	ul{
		position: fixed;
		width: 100%;
		height: 100vh;
		background: #1d075f;
		top: 80px;
		left: -100%;
		text-align: center;
		transition: all .5s;
	}
	nav ul li{
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}
	nav ul li a {
		font-size: 20px;
	}
	a:hover, a.active {
		background: none;
		color: #5434af;
	}
	#check:checked ~ ul {
		left: 0;
	}
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(247, 135, 107);
    color: #ffffff;
    text-align: ;
}

header {
    background: #58cdd1;
    padding: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5em;
    color: #fff;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    margin: 0 15px;
}

.nav-list a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.nav-list a:hover {
    background: #045175;
}

.menu-toggle {
    cursor: pointer;
    display: none;
}

.bar {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
    transition: background-color 0.3s ease-in-out;
}

.hero-section {
    background: url('background.jpg') center/cover no-repeat;
    background-color: #222831;
    text-align: center;
    padding: 30vh
}

.hero-content {
    max-width: 600px;
    margin: 0 auto;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    background-color: #02a7f3;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s ease-in-out;
}

.cta-button:hover {
    background-color: #222831;
}

.vendors-section {
    background-color: #fff;
    padding: 40px;
    text-align: center;
}



/* Media Query for Responsive Design */

@media screen and (max-width: 768px) {
    .nav-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #333;
        text-align: center;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
        z-index: 1;
    }

    .nav-list.show {
        display: flex;
    }

    .nav-list li {
        margin: 15px 0;
    }

    .menu-toggle {
        display: block;
        z-index: 2;
    }

    .bar {
        background-color: #3498db;
    }
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.containercontact {
    display: flex;
    color: black;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.containercontact h2{
    font-family: 'Bungee', sans-serif;
    text-align: center;
}
.form-container {
    background-color: #fff;
    text-align: left;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    border-radius: 5px;
    width: 400px; /* Adjust the width as needed */
    max-width: 100%; /* Ensure it doesn't exceed the viewport width */
}
.contactform{
    margin-bottom: 50px;
}
.animated-form {
    animation: slideIn 0.5s ease-out;
    
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #2980b9;
    border-radius: 10px;
}

/* Media Query for Responsive Design */

@media screen and (max-width: 768px) {
    .form-container {
        width: 80%;
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(173, 159, 159, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    color: black;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
    max-width: 400px;
    margin: 0 auto;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    
}


.login-container {
    text-align: center;
        color: black;

}

.login-box {
    display: none;
    background-color: #fff;
    color: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
    max-width: 400px;
    margin: 0 auto;
}

.close {
    position: absolute;
    top: 0px;
    right: 5px;
    font-size: 30px;
    cursor: pointer;
}

h2 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.buttonlogin {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    margin-bottom: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.buttonlogin:hover {
    background-color: #2980b9;
}

.forgot-password {
    margin-top: 15px;
}

.forgot-password a {
    color: #3498db;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}

.open-login-btn {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.open-login-btn:hover {
    background-color: #2980b9;
}
